@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

@font-face {
  font-family: "Albra";
  src: local("AlbraTRIAL-Bold");
  url: ("assets/fonts/AlbraTrial-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Hero";
  src: local("TRYVesterbro-Extrabold");
  url: ("assets/fonts/TRYVesterbro-Extrabold") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium");
  url: ("assets/fonts/Roboto-Medium") format("opentype");
}

@font-face {
  font-family: "Roboto-light";
  src: local("Roboto-Light");
  url: ("assets/fonts/Roboto-Light") format("opentype");
}
